/**
 * Columns wrapper 
 */
.columns {

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

/**
 * Single column
 */
.column {
	
}

/**
 * Widths details
 */
.column-1-3 {
	width: 33.33%;
	float: left;
}

.column-2-3 {
	width: 66.66%;
	float: left;
}