
.artist {

	&.hentry {
		margin: 4em 0 0 0;
	}

	.entry-header {
		text-align: center;
		padding:0 10% 3em 10%;
		overflow: auto;

		.entry-title {
			@include font-size(3.125); // 50px
		}

		img {
			width: 50%;
			display: block;
    		float: left;
		}

		.artist-job {
			@include font-size(1.25);
			margin-top: 0;
		}

		.artist-portrait {			
			margin-top: 2em;
		}
		.artist-main {
			margin-top: 6em;
		}
	}

	.guest-dates {
		@include font-size(1.25);
	}

	.entry-content {
		text-align: center;
		margin: 0 auto;
		padding: 1em 0 4em 0;
		max-width: 800px;
	}

	.entry-title {
		margin: 0;
    	line-height: 1em;
	}

}

.gallery {
	text-align: center;
	padding:6em 10% 6em 10%;

	.grid-item {
		display: block;
		@include box-sizing(border-box);
		overflow: hidden;
		border: 0px solid $color__tonic;

		margin: 0;
		padding: 0;
		line-height: 0;
		width: 25%;

		img {
			@include transition(transform 1.5s ease-out);
			width: 100%;
		}
	}

	.grid-item:hover {
		// border: 7px solid $color__tonic;
		
		img {
			transform: scale(1.15);
		}
	}

}


/**
 * 
 * Artist availability
 * template-parts/artist-availability.php
 * 
 */

.artist-availability {
	text-align: center;
	margin:4em 10% 4em 10%;
}

.available-today {
	@include font-size(1.25);

	.small {
		@include font-size(0.875);
	}

}

table.availability {

	margin: 1em auto 0 auto;
	width: 100%;

	td {
		// width: 14.28%; // 1/7
		width: 12.5%; // 1/8
		@include font-size(0.875);
		height: 1.25em;
		text-align: center;
		overflow: hidden;
	}

	.weekdays {

		td.available-false {
			color: $color__text-disabled;
		}

	}

	.avails {

		td.available-true {
			background: url(./img/availability.jpg) repeat-x;
			background-color: $color__tonic;
		}

		td.available-false {
			background-color: #f1f1f1;
		}

	}

	.name {
		text-align: right;
		padding-right: 1em;
		font-weight: bold;
	}

}

.availability-special {
	display: block;
	margin-top: 1em;
}


/**
 *
 *	Multiple artists availabilities 
 * 
 */
.artists-availabilities {

	table.availability {   
	    border-collapse: separate;
    	border-spacing: 0 2em;

    	.weekdays td.available-false {
    		color: #000;
    	}
	}

}



/**
 *
 *	Artists name button, mostly displayed on grids. 
 * 
 */

.artist-name-button {
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
	padding: 12px;
	color: #FFF;
	background-color: #000;
	@include font-size(1.125);
	@include transition(all 0.3s ease-in-out);
}

// #TODO: improve transitions 
.artist-name-button:hover {
	background-color: $color__tonic;
}


/**
 *
 *	Artists grid
 *	template-parts/artists-grid.php
 * 
 */
.artists-grid {
	text-align: center;
	padding: 0 10% 6em 10%;
	overflow: auto;

	a {
		display: block;
		float: left;
		width: 33.3%;
		position: relative;

		.artist-name-button {
			text-decoration: none;
			display: inline-block;
			width: 70%;
			left: 15%;
			top: 25%;
			position: absolute;
		}

	}

	a:hover .artist-name-button {
		background-color: $color__tonic;
	}

}

.grid-big {

	a {
		width: 50%;
	}

}