
.artist {

	&.hentry {
		margin: 0 0 0 0;
		padding-top: 4em;
	}

	.entry-header {
		text-align: center;
		padding:0 10% 3em 10%;
		overflow: auto;

		.entry-title {
			@include font-size(3.125); // 50px
		}

		img {
			width: 50%;
			display: block;
    		float: left;
		}

		.artist-job {
			@include font-size(1.25);
			margin-top: 0;
		}

		.artist-portrait {			
			margin-top: 2em;
		}
		.artist-main {
			margin-top: 6em;
		}

		.sidecontent {
			float: left;
			width: 45%;
			margin: 2em 0 0 5%;
			text-align: left;
		}
	}

	.guest-dates {
		@include font-size(1.25);
	}

	.entry-content {
		text-align: center;
		margin: 0 auto;
		padding: 1em 5% 0 5%;
		max-width: $post-max-width;
	}

	.entry-title {
		margin: 0;
    	line-height: 1em;
	}

	.gallery {
		text-align: center;
		padding:4em 10% 4em 10%;

		.grid-item {
			display: block;
			@include box-sizing(border-box);
			overflow: hidden;
			border: 0px solid $color__tonic;

			margin: 0;
			padding: 0;
			line-height: 0;
			width: 25%;

			img {
				@include transition(transform 1.5s ease-out);
				width: 100%;
			}
		}

		.grid-item:hover {
			// border: 7px solid $color__tonic;
			
			img {
				transform: scale(1.15);
			}
		}
	}


}

.grid-item {
	line-height: 0;
}


/**
 * 
 * Artist availability
 * template-parts/artist-availability.php
 * 
 */

.artist-availability {
	text-align: center;
	margin:4em 10% 4em 10%;
}

.available-today {
	@include font-size(1.25);

	.small {
		@include font-size(0.875);
	}

}

table.availability {

	margin: 1em auto 0 auto;
	width: 100%;

	td {
		// width: 14.28%; // 1/7
		width: 12.5%; // 1/8
		@include font-size(0.875);
		height: 1.25em;
		text-align: center;
		overflow: hidden;
	}

	td[colspan="2"] {
		width: 25%;
	}

	td[colspan="3"] {
		width: 37.5%;
	}

	td[colspan="4"] {
		width: 50%;
	}

	td[colspan="5"] {
		width: 62.5%;
	}

	td[colspan="6"] {
		width: 75%;
	}

	td[colspan="7"] {
		width: 87.5%;
	}

	.weekdays {

		td.available-false {
			color: $color__text-disabled;
		}

	}

	.avails {

		td.available-true {
			background: url(./img/availability-extend.jpg) repeat-x center;
			background-color: $color__tonic;
		}

		td.available-false {
			background-color: #f1f1f1;
			color: $color__text-disabled;
    		font-size: 12px;
		}

	}

	.name {
		text-align: right;
		padding-right: 1em;
		font-weight: bold;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	td.availability-special {
		display: table-cell;
		text-align: left;
		@include font-size(0.875);
	}

}

.availability-special {
	display: block;
	margin-top: 1em;
}



/**
 *
 *	Multiple artists availabilities 
 * 
 */
.artists-availabilities {

	table.availability {   
	    border-collapse: separate;
    	border-spacing: 0 2em;

    	.weekdays td.available-false {
    		color: #000;
    	}
	}

}



/**
 *
 *	Artists name button, mostly displayed on grids. 
 * 
 */

.artist-name-button {
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
	line-height: 1em;
	padding: 12px;
	color: #FFF;
	background-color: #000;
	z-index: 10;
	@include font-size(1.125);
	@include transition(all 0.3s ease-in-out);
}

// #TODO: improve transitions 
.artist-name-button:hover {
	background-color: $color__tonic;
}


/**
 *
 *	Artists grid
 *	template-parts/artists-grid.php
 * 
 */
.artists-grid {
	text-align: center;
	padding: 0 10% 6em 10%;
	overflow: auto;

	.section-content {
		font-size: 0;
	}

	a {
		display: inline-block;
		width: 33.3%;
		position: relative;

		.artist-name-button {
			text-decoration: none;
			display: inline-block;
			width: 70%;
			left: 15%;
			top: 25%;
			position: absolute;
		}

	}

	a:hover .artist-name-button {
		background-color: $color__tonic;
	}

	&.guests-only a {
	    padding: 1.5%;
	}

}

.grid-big {

	a {
		width: 50%;
	}

}




@include media("<=phone") {

	.artist {

		.entry-header {
			padding-left: 5%;
			padding-right: 5%;


			img.has-sidecontent {
				width: 100%;
	    		float: none;
			}

			.sidecontent {
				float: none;
				width: 100%;
				margin-left: 0;
			}
		}

		.entry-content {
			text-align: left;
		}

		.gallery {

			.grid-item {
				width: 50%;
			}

		}
		
	}


	.artist-availability {
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;


	}

	.artists-availabilities {

		table.availability {
			border-collapse: separate;
    		border-spacing: 0 1em;
		}

	}

	.weekday-end {
		display: none;
	}


	.artist-name-button {
	    @include font-size(0.875); // 15px font size
	}

	.artists-grid {

		a {
			width: 50%;

			.artist-name-button {
				width: 80%;
				left: 10%;
			}

		}
		
	}
	
	.grid-big {

		a {
			width: 100%;
		}

	}

}