input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {

	@include font-size(.875);
	@include transition(all .3s ease);
	font-weight: normal;
	display: inline-block;
	color: #000;
	outline: none;
	padding: 12px 20px;
	border: 1px solid $color__border-input;
	text-decoration: none;
	background-color: #fff;
	max-width: 100%;


	&:focus {
		color: $color__text-input-focus;
		border-color: $color__tonic;
	}

}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

label {
	@include font-size(0.9375); // 15px font size
    font-weight: bold;
    text-transform: uppercase;
    color: #666;

    span.required:after {
    	content: '*';
    	color: $color__tonic;
    }
}


/**
 * Contact Form 7
 */
span.wpcf7-not-valid-tip {
    color: #f00;
    @include font-size(0.875);
    font-weight: normal;
    text-transform: none;
}


div.wpcf7-response-output {
	margin:0; 
	padding: 0;
	@include font-size(0.875);
    border: none;
}

div.wpcf7-validation-errors {
	border: none;
}

//wpcf7-display-none wpcf7-validation-errors


/**
 * Custom file upload buttons
 */
.input-file-container {
    position: relative;
    width: 100%;

    .wpcf7-form-control-wrap {
    	position: static;
    }

    input[type="file"] {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 200px;
	    padding: 14px 0;
	    opacity: 0;
	    cursor: pointer;
	}
}

.input-file-trigger {
	display: inline-block;
	@include font-size(0.875);
	padding: 12px 20px;
	border: 1px solid #000;
	text-decoration: none;
	background-color: #FFF;
	text-transform: none;
    font-weight: normal;
}

.input-file-feedback {
    margin: 0;
    @include font-size(0.875);
}

.input-file-feedback:not(:empty) {
    margin: 0.5em 0;
}