// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";




body {
	font-size: 100%;
}



/**
 * HEADER
 */

.site-header {
	color: #fff;
	text-align: center;
	background: url(./img/background-black.jpg) repeat;
}

.site-branding {

	.site-title {
		display: block;
        margin: 20px auto;
        text-indent: -9999px;
        width: 300px;
        height: 255px;
        background: url(./img/artcorpus-logo.png) transparent no-repeat;  
	}

	.site-description {
		text-transform: uppercase;
		font-weight: bold;
		@include font-size(0.9375); // 15px font size
	}

}