html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";


/**
 *
 * ELEMENTS
 * 
 */

.dot {
	margin: 0 auto;
	width: 4px;
	height: 4px;
	background-color: #000;
	@include border-radius(2px);
}


.background-black {
	background: url(./img/background-black.jpg) #000 repeat;
	color: #FFF;
}

.background-plainblack {
	background: #000;
	color: #FFF;
}

.background-white {
	background: url(./img/background-white.jpg) #fff repeat;
	color: #000;
}

.centered {
	text-align: center;
}



/**
 *
 * Button links
 * 
 */

a.button, a.button:active, a.button:visited {
	display: inline-block;
	@include font-size(0.875);
	padding: 12px 20px;
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
	@include transition(all 0.25s ease);
}

.background-black a.button,
.background-plainblack a.button {
	border: 1px solid #d8d8d8;
	color: #d8d8d8;
}

.highlight a.button,
a.button.highlight {
	color: #FFF;
	background-color: $color__tonic;
	border-color: $color__tonic;
}

a.button:hover {
	color: #FFF;
	background-color: #000;
	border-color: #000;
	box-shadow:none;
}


.blocklink {
	color: #fff;
    text-decoration: none;
    display: block;
    padding: 2em;
    width: 100%;
    text-align: center;
}
