.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}


@include media("<=phone") {

	.alignleft {
	    float: none;
	    margin-right: 0;
	    width: 100%;
	}

}