.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.posts-list {
	text-align: center;
    padding: 0 10% 6em 10%;
    overflow: auto;

    article {
    	max-width: 75%;
    }
}

article {
	text-align: left;

	.entry-title {
		@include font-size(1.5); // 24px
		margin: 0;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	.entry-meta {
		@include font-size(0.6875); // 11px
		text-transform: uppercase;
		color: #7f7f7f;	

		a {
			text-decoration: none;
			color: #7f7f7f;	
		}
		
		.small {
			text-transform: none;
			color: #b3b3b3;
		}	
	}

	.entry-content {
		margin-top: 0;
	}

}

/**
 * Alternative posts formats
 */

article.format-aside {
	float: right;
}

article.format-quote {
	text-align: center;
    margin-left: auto;
    margin-right: auto;

    .entry-title {
		@include font-size(2.125); // 34px
	}
}