.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	a:hover {
		@include box-shadow(0px 3px 0px 0px #efd8d3);
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


article {
	text-align: left;

	.entry-title {
		@include font-size(1.5); // 24px
		margin: 0;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	.entry-meta {
		@include font-size(0.6875); // 11px
		text-transform: uppercase;
		color: #7f7f7f;	

		a {
			text-decoration: none;
			color: #7f7f7f;	
		}

		a:hover {
			@include box-shadow(0px 3px 0px 0px #dedede);
		}
		
		.small {
			text-transform: none;
			color: #b3b3b3;
		}	
	}

	.entry-content {
		margin-top: 2em;
	}

}

/**
 * Site width limit
 */
.section-content,
.header-content {
	max-width: $site-max-width;
	margin: 0 auto;
}


/**
 * First section
 */
section.first {
	padding-top: 4em;
}

section.column {
	padding-right: 5%;
}

/**
 * Alternative posts formats
 */

article.format-aside {
	float: right;
}

.post-single article.format-aside {
	float: none;
}

article.format-quote {
	text-align: center;
    margin-left: auto;
    margin-right: auto;

    .entry-title {
		@include font-size(2.125); // 34px
	}
}


/**
 * Lists
 */
.posts-list,
.post-single,
.page-single {
	text-align: center;
    padding: 0 10% 4em 10%;
    overflow: auto;

    article {
    	max-width: 75%;
    }
}

.posts-list {
	article {
		.entry-content {
    		margin-top: 0.5em;
		}
	}
}


/**
 * Single
 */
.post-single {
    article {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: $post-max-width;

	    .entry-title {
			@include font-size(3.125); // 50px
		}

		.entry-content h1 {
			@include font-size(2); // 50px	
		}

		&.format-quote {
			text-align: left;
		}
    }
}


/**
 * Sticky on homepage
 */

.sticky {

	.sticky-title {
		width: 48%;
		margin-bottom: 1em;
		margin-top: 2em;
		float: left;
		text-align: center;

		h3 {
			@include font-size(2.125); // 34px
			font-weight: normal;
			text-transform: lowercase;
			margin: 0;
		}

		h2 {
			@include font-size(3.125); // 50px
			line-height: 2.125rem;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
		}
	}

	article {
		position: relative;
    	max-width: 100%;

    	.post-thumbnail-wrapper {
    		position: absolute;
    		left: 50%;
    		top: 50%;
    		transform: translateY(-50%);
    		width: 48%;
			max-height: 100%;
			overflow: hidden;

	    	img {    
	    		max-width: 100%;
	    	}
    	}


    	.entry-meta {
    		display: none;
    	}

    	.entry-content,
    	.entry-header {
    		clear: left;
    		overflow: auto;
		    width: 48%;
		    text-align: center;
    	}

    }

}


/**
 * Homepage customs
 */

.home {

	.site-branding {
		margin: 3em 0 3em 0;

		.site-title a {
			width: 90%;
			height: auto;
			padding-top: 76.67%;
			background-image: url(./img/artcorpus-logo-biggest.png);
			background-size: 100% auto;
		}

		.site-description {
			@include font-size(1.5);
		}

	}


	.homeslideshow-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		overflow: hidden;
	}

	.slick-slider {
		// height: 400px;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
	}

	.homepage-main-content {

		img {
			max-width: none;
			width: 100%;
		}
		
	}

}


/**
 * Archives
 */

.archives {

	.page-header {
		
		h2 {
		    margin-top: 0;
		    margin-bottom: 0;
		}

		h1 {
		    margin-top: 0;
		}

	}

}


/**
 * Facebook Posts
 */

.facebook-post {
	overflow: hidden;
    margin: 0 auto 4em auto;

	img {
	    width: 50%;
	    float: left;
	}

	.entry-header,
	.entry-content {
	    float: left;
	    width: 45%;
	    margin-left: 5%;
	}

	.facebook-video {
		position: relative;
		width: 50%;
		float: left;

		img {
			width: 100%;
			float: none;
		}
	}

	.facebook-video:after {
		content: '';
		position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    background: url(img/svg/play.svg) no-repeat center center;
	}

	&.facebook-post-noimage .entry-header,
	&.facebook-post-noimage .entry-content {
		float: none;
		margin-left: auto;
		text-align: center;
		margin-right: auto;
		width: 75%;
	}

}


/**
 * Figures & captions
 */

figcaption {
	@include font-size(0.6875); // 11px
}

figure.alignleft {
	margin-left: -15%;
	width: 115%;
	max-width: 115%;
}

figure.alignright {
    margin-right: -15%;
    max-width: 115%;
    width: 115%;
}


/**
 * Centered contents
 */

.centered {

	article {
		text-align: center;
	}
	
}


@include media("<=desktopsmall") {

	.sticky {

		.sticky-title {
			width: 100%;
			float: none;
			text-align: center;
			margin-top: 0;

			h3 {
				@include font-size(1.5);
				margin: 0;
			}

			h2 {
				@include font-size(2.125); // 50px
				line-height: 2.125rem;
				margin: 0;
			}
		}

		article {
	    	max-width: 100%;

	    	.post-thumbnail-wrapper {
	    		position: relative;
	    		left: 0;
	    		top: 0;
	    		transform: translateY(0);
	    		width: 100%;
				overflow: auto;

	    		img {
	    			max-width: none;
	    			width: 100%;
	    		}
	    	}

	    	.entry-content,
	    	.entry-header {
			    width: 100%;
			    text-align: center;
			    margin-top: 0;
	    	}

	    }

	    .hentry {
		    margin-bottom: 0;
		}

	}

}


@include media("<=phone") {

	section.first {
		padding-top: 2em;
	}
	
	.posts-list,
	.post-single {
		padding: 0 5% 2em 5%;

	    article {
	    	max-width: 100%;
	    }

	}

	.post-single {
		article .entry-title {
			@include font-size(2.125);
		}
	}


	.home {

		.site-branding {
			margin: 2em 0 2em 0;

			.site-title a {
				background-size: 300px 256px;
				width: 300px;
				height: 256px;
				padding-top: 0;
			}
		}

		.homeslideshow-wrapper {
			display: none;
		}

	}


	.facebook-post {

		img {
		    width: 100%;
		    float: none;
		}

		.entry-header,
		.entry-content {
		    float: none;
		    width: 100%;
		    margin-left: 0;
		}

	}


	figure.alignleft {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}

	figure.alignright {
	    margin-right: 0;
	    max-width: 100%;
	    width: 100%;
	}

}